.contenedor {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 4fr 1fr;
    gap: 10px;

}
.contenedor > p {
    grid-column: 2; /* o grid-column: 2 / 3; */
    margin: 0; /* opcional */
}